{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block htmltitle %}
{{ term.name }} - {{ config.title }}
{% endblock htmltitle %}

{% block title %}
{{ term.name }}
{% endblock title %}

{% block content %}
<div class="hero">
    <h1>#{{ term.name }}</h1>
    <p class="hero-meta">{{ term.pages | length }} posts found</p>
</div>

<div class="post-grid">
    {% for page in term.pages %}
    <a href="{{ page.permalink }}" class="card">
        <h3>{{ macros::title_or_last(component=page, offset=0) }}</h3>

        {% if page.description %}
        <p>{{ page.description }}</p>
        {% elif page.summary %}
        <p>{{ page.summary | striptags | truncate(length=150) }}</p>
        {% endif %}

        <div class="meta">
            {% if page.date %}
            <span>{{ macros::format_date(date=page.date) }}</span>
            {% endif %}
            <span>Read →</span>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}