{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block htmltitle %}
authors - {{ config.title }}
{% endblock htmltitle %}

{% block content %}
<div id="content">
    {{ macros::page_hero(title="Authors", description="contributors") }}

    {% if terms %}
    <div class="taxonomy-grid">
        {% for author in terms %}
        <a href="{{ author.permalink }}" class="taxonomy-item">
            <h3>{{ author.name }}</h3>
            <span class="count">{{ author.pages | length }} {% if author.pages | length == 1 %}post{% else %}posts{% endif %}</span>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <p class="empty-state">No authors listed yet.</p>
    {% endif %}
</div>
{% endblock content %}
