{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block htmltitle %}
{{ term.name }} - {{ config.title }}
{% endblock htmltitle %}

{% block content %}
<div id="content">
    {% set count = term.pages | length %}
    {% if count == 1 %}
        {% set desc = "1 post" %}
    {% else %}
        {% set desc = count ~ " posts" %}
    {% endif %}
    {{ macros::page_hero(title=term.name, description=desc) }}

    {% if term.pages %}
    <div class="post-grid">
        {% for page in term.pages %}
        {{ macros::post_card(page=page) }}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}
