{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block htmltitle %}
{{ taxonomy.name | title }} - {{ config.title }}
{% endblock htmltitle %}

{% block title %}
{{ taxonomy.name | title }}
{% endblock title %}

{% block content %}
<div id="content">
    {% if taxonomy.name == "tags" %}
        {% set desc = "all blog tags" %}
    {% elif taxonomy.name == "categories" %}
        {% set desc = "blog categories" %}
    {% elif taxonomy.name == "authors" %}
        {% set desc = "blog authors" %}
    {% else %}
        {% set desc = "browse by " ~ taxonomy.name %}
    {% endif %}
    {{ macros::page_hero(title=taxonomy.name | title, description=desc) }}

    <div class="taxonomy-grid">
        {% for term in terms %}
        <a href="{{ term.permalink }}" class="taxonomy-item">
            <h3>{{ term.name }}</h3>
            <span class="count">{{ term.pages | length }} {% if term.pages | length == 1 %}post{% else %}posts{% endif %}</span>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}
