{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block htmltitle %}
{{ term.name }} - {{ taxonomy.name | title }} - {{ config.title }}
{% endblock htmltitle %}

{% block title %}
{{ term.name }}
{% endblock title %}

{% block content %}
<div id="content">
    {% set count = term.pages | length %}
    {% set count_label = count ~ " " ~ "post" %}
    {% if count != 1 %}{% set count_label = count ~ " posts" %}{% endif %}
    {{ macros::page_hero(
        title=term.name,
        description=count_label ~ " in " ~ taxonomy.name | title
    ) }}

    {% if term.pages %}
    <div class="post-grid">
        {% for page in term.pages %}
        {{ macros::post_card(page=page) }}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}
